@media screen and (min-width: 1000px) {
    body {
        padding: 50px;
        display: flex;
    }
    h2 {
        font-size: 72px;
        padding-top: 20px;
    }

    p {
        font-size: 22px;
    }
    .container-page-1 {
        max-width: 1500px;
    }

    .left-page-desktop {
        display: block;
    }
    .container-first {
        display: flex;
        background-color: orange;
    }
    .container-first-left {
        max-width: 390px ;
        display: flex;
        flex-wrap: wrap;
        background-color: greenyellow;
    }
    .container-first-left-text {
        display: flex;
        background-color: pink;
    }

    .container-arrow {
        display: flex;
        justify-content: start;
        align-items: end;
    }

    #nav-dots {
        display: none;
    }

   

    .container-first-right {
        height: auto;
        display: block;
        padding-top: 30px;
        max-width: px;
    }    
}

@media screen and (min-device-width: 769px) and (max-device-width: 999px) {
    body {
        padding: 50px;
        color: red;
    }
    h2 {
        font-size: 62px;
        padding-top: 50px;
    }

    p {
        font-size: 22px;
    }
    .container-first {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-first-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
        text-align: center;
    }

    .container-first-left-text {
        padding-left: 20px;
    }

    #arrow {
        display: none;
    }

    img {
        max-width: 100%;
    }
    .container-first-right {
        height: auto;
        display: block;
        padding: 10px;
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
        body {
        padding: 50px;
    }
    h2 {
        font-size: 72px;
        padding-top: 50px;
    }

    p {
        font-size: 22px;
    }
    .container-first {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-first-left {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
        text-align: center;
    }

    .container-first-left-text {
        padding-left: 20px;
    }

    #arrow {
        display: none;
    }

    img {
        max-width: 100%;
    }
    .container-first-right {
        height: auto;
        display: block;
        padding: 10px;
        max-width: 768px;
    }
}
@media screen and (max-width: 320px) {
    body {
        padding: 10px;
    }
    h2 {
        font-size: 39.6px;
    }

    p {
        font-size: 12px;
    }
    .container-first {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-first-left {
        max-width: 211px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: end;
    }

    #arrow {
        display: none;
    }
    img {
        max-width: 100%;
    }
    .container-first-right {
        height: auto;
        display: block;
        padding: 10px;
        max-width: 300px;
    }
}