@media screen and (min-width: 1088px)  {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-items  {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    ul {
        display: flex;
        list-style: none;
        color: black;
        justify-content: space-between;
    }

    li {
        padding: 15px;
    }

    #nav-dots {
        display: none;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1087px) {
    .nav-bar {
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
    }
    .nav-items  {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    #nav-dots {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;
        color: black;
        justify-content: space-between;
    }

    li {
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .nav-bar {
        max-width: 570px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-items  {
        display: flex;
        justify-content: end;
        width: 100%;
    }
    
    #nav-dots {
        display: none;
    }

    ul {
        display: flex;
        list-style: none;
        color: black;
        justify-content: space-between;
    }

    li {
        padding: 15px;
    }
}

@media screen and (max-width: 360px) {
    .nav-bar {
        max-width: 260px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 14px;
    }

    .nav-items ul{
        display: none;
    }

    #nav-dots {
       display: flex;
    }
    img {
        max-width: 250px;
        width: 100%;
    }
}